body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

#main-header {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 24px;
}

p {
  margin: 0;
  padding: 0;
}

#projectList p {
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 24px;
}

a, a:active a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #46515c;
}

ul, li {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

#main-footer {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
